@import url("https://fonts.googleapis.com/css?family=Unbounded:wght@300;400;700;900&display=swap");

@import "./normalize.css";

@mixin set_hover($time) {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;
}

@mixin set_transform($transform) {
  -moz-transform: $transform;
  -ms-transform: $transform;
  -webkit-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin set_border_radius($w) {
  -webkit-border-radius: $w;
  -moz-border-radius: $w;
  border-radius: $w;
}

@mixin set_center_h() {
  -moz-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
  -o-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

@mixin set_center_w() {
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin set_center_wh() {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin set_background_img($fit) {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: $fit;
  -o-object-fit: $fit;
}

@mixin no_select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin inline_flexbox() {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex_wrap($values) {
  -webkit-flex-wrap: $values;
  -ms-flex-wrap: $values;
  flex-wrap: $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin _1280 {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin _1060 {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin _991 {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin _768 {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin _687 {
  @media (max-width: 687px) {
    @content;
  }
}
@mixin _576 {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin _500 {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin _400 {
  @media (max-width: 400px) {
    @content;
  }
}
@mixin _380 {
  @media (max-width: 380px) {
    @content;
  }
}

$color: #e37c3b;
$color2: #284f48;
$colorblack: #031843;
$colorgray: #444444;

* {
  font-family: "Unbounded";
  box-sizing: border-box;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

html {
  overflow-x: hidden;
  body {
    font-family: "Unbounded";
    font-size: 16px;
    overflow: hidden;
    background: #e8e3e0;
  }
}

/* Скрыть стрелки в Firefox */
input[type="number"]::-moz-number-spin-box {
  display: none;
}

/* Скрыть кнопки в Chrome, Safari и Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Скрыть кнопки в Internet Explorer */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
}

.header {
  position: relative;
  display: none;
  background: #fff;
  padding: 20px 0;
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__link {
    font-size: 20px;
    padding: 10px;
    transition: color 0.3s;
    color: #3b3b3b;
    &:hover {
      color: #e37c3b;
    }
  }
  .header__link-active {
    color: #e37c3b;
  }
}

.section__banner {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 60px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.75);
    z-index: 2;
  }
  .container {
    display: flex;
    align-items: center;
    min-height: 400px;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .banner__content {
    position: relative;
    z-index: 3;
    //background: rgba($color: #000000, $alpha: 0.35);
    max-width: 50%;
    padding: 0px;
    border-radius: 20px;
  }
  .banner__content__title {
    display: block;
    margin: 0 0 30px;
    font-size: 30px;
    line-height: 160%;
    font-weight: 700;
    color: #fff;
  }
  .banner__content__desc {
    display: block;
    margin: 0px;
    font-size: 20px;
    line-height: 160%;
    font-weight: 300;
    color: #fff;
  }
  .banner__img {
    @include set_background_img(cover);
    z-index: 1;
  }
  @include _1200() {
    .banner__content {
      max-width: 100%;
    }
  }
  @include _768() {
    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  @include _576() {
    margin-bottom: 40px;
    .banner__content {
      text-align: center;
    }
    .banner__content__desc {
      font-size: 15px;
      line-height: 180%;
      font-weight: 300;
    }
    .banner__content__title {
      font-size: 22px;
    }
    .container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

.section__posts {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 60px;
  .posts__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px -15px 0px;
  }
  .posts__item {
    position: relative;
    flex: 0 0 calc(33.333% - 30px);
    width: calc(33.333% - 30px);
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 15px 30px;
  }
  .posts__item__block-img {
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
  }
  .posts__item__img {
    @include set_background_img(cover);
  }
  .posts__item__content {
    display: block;
    width: 100%;
    padding: 25px;
    p {
      margin: 0;
    }
  }
  .posts__item__id {
    position: absolute;
    left: 15px;
    top: 15px;
    background: rgba($color: #00aeff, $alpha: 1);
    color: #fff;
    padding: 4px 10px;
    z-index: 2;
    border-radius: 10px;
  }
  .posts__item__date {
    display: block;
    margin: 0 0 15px;
    font-size: 13px;
    line-height: 160%;
    font-weight: 300;
  }
  .posts__item__title {
    display: block;
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
  }
  .posts__item__desc {
    display: block;
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
  }
  .posts__navigation {
    @include flexbox();
    @include flex_wrap(wrap);
    justify-content: center;
  }
  .posts__navigation__current {
    background-color: #039917;
  }
  @include _1200() {
    .posts__item {
      position: relative;
      flex: 0 0 calc(50% - 30px);
      width: calc(50% - 30px);
    }
  }
  @include _768() {
    .posts__items {
      margin: 30px -15px 0;
    }
    .posts__item {
      position: relative;
      flex: 0 0 calc(100% - 30px);
      width: calc(100% - 30px);
    }
    .posts__item__content {
      padding: 20px;
    }
  }
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

.section__game {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 60px;

  .game__message {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    @include set_center_wh();

    color: #fff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 280px;
    strong {
      display: block;
    }
  }
  .game__message-win {
    background-color: #039917;
  }
  .game__message-lose {
    background-color: #b31f1f;
  }
  .game__message-draw {
    background-color: #5d5d5d;
  }
  .game__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
  }
  .game__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(100% / 8);
    width: calc(100% / 8);
    height: 62.5px;
    background-color: #1466226e;
    border: 1px solid #ffffff96;
    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      @include set_center_wh();
      height: 60%;
      width: 60%;
      border-radius: 100%;
    }
  }
  .game__item__white {
    &::after {
      content: "";
      background: #fff;
    }
  }
  .game__item__black {
    &::after {
      content: "";
      background: #181818;
    }
  }
  .game__item__can-move {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }

    &::after {
      content: "";
      background: #039917;
      height: 30%;
      width: 30%;
    }
  }
  @include _576() {
    .game__items {
      max-width: 290px;
    }
    .game__item {
      height: 36.25px;
    }
  }
}

footer {
  display: none;
}
